<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../dist/vue.min.js"></script>
        
    </head>
    <body>
<!--        <li v-for="todo in todos" v-if="!todo.isComplete">
          {{ todo }}
        </li>-->
        <div id="app">
          {{ message+'tuetc' }}
          <br>
          {{ 1==1 ? 'YES' : 'NO' }}
          <h1 v-show="1==1">true</h1>
          <h1 v-show="false">false</h1>
          <div>
              {{ computed_message1 }}
          </div>
          <div>
              {{ computed_message2 }}
          </div>
        </div>
        
        <div id="key-example" class="demo">
          <div>
            <template v-if="loginType === 'username'">
              <label>Username</label>
              <input placeholder="Enter your username" key="username-input">
            </template>
            <template v-else="">
              <label>Email</label>
              <input placeholder="Enter your email address" key="email-input">
            </template>
          </div>
          <button @click="toggleLoginType">Toggle login type</button>
        </div>
        <script type="text/javascript">
            var app = new Vue({
              el: '#app',
              data: {
                message: 'hiển thị thông tin tại đây.'
              },
              computed: {
                computed_message1: function () {
                  return 'chuỗi'
                },
                computed_message2: function () {
                    so1=1;
                    so2=2;
                  return so1+so2;
                }
              }
            });  
            
            new Vue({
              el: '#key-example',
              data: {
                loginType: 'username'
              },
              methods: {
                toggleLoginType: function () {
                  this.loginType = this.loginType === 'username' ? 'email' : 'username'
                }
              }
            })
        </script>
    </body>
</html>
